<% if flash[:notice] -%>
  <p class='notice'><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] -%>
  <p class='notice'><%= flash[:error] %></p>
<% end %>
<p style="text-align:right">
	<% if current_user %>
	Logged in as: <%= current_user.email.split('@')[0] %>
	<%= link_to 'Logout', logout_path, :method => 'Destroy' %>
	<% else %>
	<%= link_to 'Login', login_path %> OR  
	<%= link_to 'Sign Up', signup_path %>
	<% end %>
</p>
<%= link_to 'Create a post', 'posts/new' %>
<% @post.each do |p| %>
<% if p.active == '1'  %>
		<p><b>Post Id:</b> <%= p.id %></p>
		<p><b>Title:</b> <%= p.title %></p>
		<p> <b>Description:</b> <%= p.content %></p>
		<p> Author Name: <u><%= p.name.split('@')[0] %></u></p><br>
		<%= link_to 'Show this post', post_path(p) %> | 
	<% if session[:user_id] %>
		<% if p.user_id == current_user.id %>
			<%= link_to 'Edit this post', edit_post_path(p) %> | 
			<%= link_to 'Destroy', post_path(p), :method => :delete, :confirm => "Are you sure?" %>

		<% end %>
	<% end %> 
	<hr>
	<% end %>
<% end %>

