<% if flash[:notice] -%>
  <p class='notice'><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] -%>
  <p class='notice'><%= flash[:error] %></p>
<% end %>
<h1>Create a Blog</h1>


<%= form_for @post do |f| %>
  <p>
    <%= f.label "Author Name:" %> <%= current_user.email %><br />
    <%= f.hidden_field :name, :value => current_user.email , :readonly=>true %>
  </p>
  <p>
    <%= f.label "Post Title" %><br />
    <%= f.text_field  :title %>
  </p>
  <%= hidden_field_tag :user_id, current_user.id %>
  <p>
    <%= f.label "Content" %><br />
    <%= f.text_area  :content %>
  </p>
  <p>
    <%= f.label "Active Post Yes/No" %><br />
    <%= f.select(:active, options_for_select([['Yes', 1], ['No', 0]], 2)) %>
  </p>

  <p class="button"><%= f.submit "Create a post"%></p>
<% end %>
